BattleTank/Content/StarterContent/
BattleTank/Images/Firing_M1A1_tank_in_Djibouti.jpg
BattleTank/Fonts/inktank.txt
BattleTank/Fonts/inktank.ttf
BattleTank/Content/UI/inktank_Font.uasset
BattleTank/Content/UI/inktank.uasset
BattleTank/Content/UI/Firing_M1A1_tank_in_Djibouti.uasset
